*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

html, body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

header{
    background-color: #e06adc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: dashed 10px #6411D9; */
}

.menu_list, .icon_list{
    display: flex;
    gap: 30px;
    color: #130f16;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

img{
    height: 60px;
}

.icon_img{
    height: 20px;
}

.cart{
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
}

.cart-num{
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.33); /* Небольшое затемнение на фоне */
  z-index: 1000; /* Поверх всех окон */
  width: 100%;
  height: 100%;
  display: none; /* По умолчанию скрываем окно */
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow-y: scroll;
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Распределяем элементы внутри равномерно */
  width: 100%;
  max-width: 800px;
  min-height: 300px;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
}

.popup-item {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.popup-item:last-of-type {
  border-bottom: none;
}

.popup-title {
  font-size: 20px;
}

/* Стили для вывода товара */
.popup-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popup-product-wrap {
  display: flex;
  align-items: center;
}

.popup-product-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 10px;
}

.popup-product-title {
  max-width: 300px;
  font-weight: 500;
}

.popup-product-price {
  font-size: 18px;
  margin-right: 15px;
}

/* Стили для кнопки удаления товара */
.popup-product-delete {
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  color: #d62240;
}

/* Стили для вывода стоимости товаров */
.popup-cost {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.popup-cost-title {
  margin-right: 15px;
  font-size: 20px;
  color: #364364;
  text-align: right;
}

.popup-cost-value {
  font-size: 20px;
}

/* Стили для кнопки закрытия окна */
.popup-close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 20px;
  color: rgba(54, 67, 100, 0.7);
  font-size: 20px;
}

.popup-close:hover {
  color: rgb(54, 67, 100);
}

.popup--open {
  display: flex;
}

footer{
    background-color: #e06adc;
    padding: 50px 0 32px;
    color: #130f16;
}

.footer_menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer_menu_title{
    padding-bottom: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.footer_menu_item{
    padding-top: 12px;
}

.footer_list{
    max-width: 170px;
}

.footer_copy{
    display: flex;
    justify-content: right;
    margin-right: 100px;
}

main{
    flex-grow: 1;
}

.top{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 250px;
  padding-bottom: 50px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.title{
  padding-bottom: 40px;
  font-size: 96px;
  font-weight: 700;
}

.top_link{
  background-color: #e06adc;
  padding: 23px;
  max-width: 430px;
  width: 100%;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
}

.swiper::after{
  content: '';
  background: rgba(21, 21, 21, .4);
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.swiper-slide{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.swiper-pagination-bullet{
  width: 120px;
  height: 3px;
  background-color: #151515;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-bullet-active{
  height: 6px;
  background-color: #fff;
}

.category{
  display: flex;
  flex-wrap: wrap;
}

.category-link-img{
  height: auto;
  width: 100%;
}

.category-link{
  flex: 1;
}



/*about-us*/
.contacts{
  padding: 80px 0px 100px;
  text-align: center;
}

.contacts-info{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  
}

.contacts-num,
.contacts-adress{
  text-align: left;
  padding: 0 20px;
}

.contacts-title{
  margin-bottom: 20px;
}

.contacts-text{
  font-size: 18px;
  margin-bottom: 15px;
}

.form{
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-input{
  width: 270px;
  padding: 18px 20px;
  display: inline-block;
  border: 1px solid #e06adc;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #000;
}

.form-input::placeholder,
.form-textarea::placeholder{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #000;
  opacity: .5;
}

.form-textarea{
  width: 100%;
  resize: none;
  padding: 28px 20px;
  height: 290px;
  border: 1px solid #e06adc;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #000;
  margin-bottom: 50px;
}

.form-btn{
  text-transform: uppercase;
  color: #fff;
  background-color: #e06adc;
  font-size: 16px;
  font-weight: 400;
  padding: 13px 61px;
  margin: 0 auto;
  cursor: pointer;
}

/*page tovara */

.main-product{
  display: flex;
  justify-content: center;
}

.product-page{
  margin: 80px 0px;
  display: flex;
  flex-direction: row;
  height: 700px;
  width: 1000px;
  
}

.gallery{
  display: flex;
  flex-direction: row;
}

.card__images{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__imgs{
  margin-bottom: 15px;
}

.big-img{
  margin: 0 50px;
}

#card__img {
  height: 100%;
  width: auto;
}

.product-container{
  padding-top: 50px;
  max-width: 320px;
}

.title__card{
  margin-bottom: 20px;
}

.price{
  font-size: 15px;
  margin-bottom: 10px;
  opacity: .7;
}

.discount-price{
  font-size: 20px;
  margin-bottom: 20px;
}

.size-grid{
  margin-bottom: 10px;
}

.size{
  background-color: #fff;
  border: 2px solid #e06adc;
  color: #e06adc;
  width: 40px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 7px;
}

.size:hover{
  color: #fff;
  background-color: #e06adc;
}

.description{
  font-size: 15px;
}

.btn-card{
  cursor: pointer;
  background-color: #fff;
  border: 3px solid #e06adc;
  color: #e06adc;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
}

.btn-card:hover{
  color: #fff;
  background-color: #e06adc;
}

.rating{
  margin-top: 20px;
}

.rating-title{
  font-weight: 500;
}





