<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKIFILINI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo"> 
                    <a href="./index.html" class="logo">
                        <img src="./img/logo.png" alt="">
                    </a>
            </div>
            <nav class="menu">
                <ul class="menu_list">
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Коллекции</a></li>
                    <li><a href="catalog.html">Каталог</a></li>
                    <li><a href="about-company.html">О нас</a></li>
                </ul>
            </nav>
            <div class="icon">
                <ul class="icon_list">
                    <li><a href="#">
                        <img src="{% static './img/izbr.png' %}" alt="" class="icon_img">
                    </a></li>
                    <li><a href="#">
                        <img src="{% static './img/akk.png' %}" alt="" class="icon_img">
                    </a></li>
                </ul>
            </div>
        </header>
      
        <main class="main-product">
          <section class="product-page">
            <div class="gallery">
              <div class="card__images">
                <button class="card__imgs">
                  <button class="card__img" onclick="changeImage('img/card1-1.jpg')"> 
                    <img src="{% static 'img/card1-1.jpg' %}" alt="" class="card__img">
                </button>
                <button class="card__img" onclick="changeImage('img/card1-2.jpg')"> 
                    <img src="{% static 'img/card1-2.jpg' %}" alt="" class="card__img">
                </button>
                <button class="card__img" onclick="changeImage('img/card1-3.jpg')"> 
                    <img src="{% static 'img/card1-3.jpg' %}" alt="" class="card__img">
                </button>
              </div>
              <div class="big-img">
                <img src="{% static 'img/card1-1.jpg' %}" alt="" id="card__img">
              </div>
            </div>
            <div class="product-container">
              <h1 class="title__card">ЗИП-ХУДИ / BOSS</h1>
              <p class="price">Цена: 15 000₽</p>
              <p class="discount-price">Со скидкой: 13 500₽</p>
              <div class="size-grid">
                <button class="size">S</button>
                <button class="size">M</button>
                <button class="size">L</button>
                <button class="size">XL<button>
              </div>
              <h2 class="desription-title">Описание</h2>
              <p class="description">Мягкая к телу толстовка из высококачественного хлопка. Вместительный основной карман скрывает внутри несколько маленьких карманов для хранения мелочи, ключей или телефона. Свободный крой позволит вам оставаться активным даже в прохладную погоду. Принт зип худи Boss создан по мотивам аниме Дорохедоро.</p>
              <div class="rating">
                <div id="rating_bar">
                  <span id="rate_1">&#9734;</span>
                  <span id="rate_2">&#9734;</span>
                  <span id="rate_3">&#9734;</span>
                  <span id="rate_4">&#9734;</span>
                  <span id="rate_5">&#9734;</span>
                </div>
                <div class="rating-title"><p>4.5 (12 отзывов)</p></div>
              </div>
              <button class="btn-card">В корзину</button>
            </div>
          </section>
          
          
          
        </main>
        
        <footer>
            <div class="container">
                <nav class="footer_menu">
                    <ul class="footer_list">
                      <li class="footer_menu_title"><a href="#" class="footer_li">Для клиентов</a></li>
                      <li class="footer_menu_item"><a href="#" class="footer_li">Промокоды и Купоны</a></li>
                      <li class="footer_menu_item"><a href="#" class="footer_li">Моя учетная запись</a></li>
                      <li class="footer_menu_item"><a href="#" class="footer_li">Оформить заказ</a></li>  
                    </ul>
                    <ul class="footer_list">
                        <li class="footer_menu_title"><a href="#" class="footer_title">О нас</a></li>
                        <li class="footer_menu_item"><a href="#" class="footer_li">О компании</a></li>
                      </ul>
                      <ul class="footer_list">
                        <li class="footer_menu_title"><a href="#" class="footer_title">Информация</a></li>
                        <li class="footer_menu_item"><a href="#" class="footer_li">Доставка</a></li>
                        <li class="footer_menu_item"><a href="#" class="footer_li">Возврат</a></li>
                        <li class="footer_menu_item"><a href="#" class="footer_li">Публичная оферта</a></li> 
                        <li class="footer_menu_item"><a href="#" class="footer_li">Пользовательское соглашение </a></li> 
                      </ul>
                      <ul class="footer_list">
                        <li class="footer_menu_title"><a href="#" class="footer_title">Контакты</a></li>
                        <li class="footer_menu_item"><a href="#" class="footer_li">+7(499)686-05-91</a></li>
                        <li class="footer_menu_item"><a href="#" class="footer_li">Email: info@nikifilini.com</a></li>
                        <li class="footer_menu_item"><a href="#" class="footer_li">г. Москва, ул. Большая Семеновская 49</a></li>  
                      </ul>
                </nav>
                <nav class="footer_copy">
                    <p class="footer_c">© NikiFilini.com 2024</p>
                </nav>
            </div>
        </footer>
    </div>

    <script>
      function changeImage(newSrc) {
        document.getElementById('card__img').src = newSrc;
      }

      const size = document.querySelectorAll('.size');

      size.forEach( size => {
        size.addEventListener('click',() => {
          size.style.backgroundColor = '#e06adc';
          size.style.color = '#fff';
      });
    });

    let spans = document.getElementById("rating_bar")
    .getElementsByTagName('span');
    for(i=0;i<spans.length;i++)
    spans[i].onmouseover=hoverStar;
    function hoverStar()
    {
    for(i=0;i<this.id.charAt(5);i++)
    spans[i].innerText='⭐';
    for(i=this.id.charAt(5);i<5;i++)
    spans[i].innerText='✰';
    }

    </script>

    <script src="{% static 'js/main.js' %}" type="module" defer></script>
</body>
</html>