{% extends 'base_generic.html' %}
{% block title %}Каталог{% endblock %}
{% block content %}



    <div class="wrapper">
      

        <main class="main">
          <section class="product">
            <div class="product__info">
              <div class="container">
                <h1 class="product__title">Каталог</h1>
                <h1 class="product__title product__title--gray">20 товаров</h1>
              </div>
            </div>
            <div class="cards">
              <div class="card">
                <div class="card__top">
                  <a href="card.html" class="card__image">
                    <img
                      src="img/card1-1.jpg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">13 500</div>
                    <div class="card__price card__price--common">15 000</div>
                  </div>
                  <a href="card.html" class="card__title">
                    ЗИП-ХУДИ / BOSS
                  </a>
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card2.jpg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">4 500</div>
                    <div class="card__price card__price--common">5 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ФУТБОЛКА CUSTOM / SWORD OF GOD
                  </a>
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card3.jpg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">4 500</div>
                    <div class="card__price card__price--common">5 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ФУТБОЛКА CUSTOM / CARNAGE
                  </a>
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card4.jpg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">5 400</div>
                    <div class="card__price card__price--common">6 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ФУТБОЛКА CUSTOM / NAGATO
                  </a>
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card5.jpg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">6 300</div>
                    <div class="card__price card__price--common">7 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ЛОНГСЛИВ CUSTOM / СURSE MASTER GOLD
                  </a>
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card6.jpg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">6 300</div>
                    <div class="card__price card__price--common">7 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ЛОНГСЛИВ CUSTOM / LK</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card7.jpg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">6 300</div>
                    <div class="card__price card__price--common">7 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ЛОНГСЛИВ CUSTOM / BOREDOM</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card8.jpg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">4 500</div>
                    <div class="card__price card__price--common">5 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ФУТБОЛКА CUSTOM / SIX PATHS</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card9.jpg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">9 500</div>
                    <div class="card__price card__price--common">11 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ХУДИ / GETO</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card10.jpeg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">8 100</div>
                    <div class="card__price card__price--common">9 000</div>
                  </div>
                  <a href="#" class="card__title">
                    РУБАШКА / DEATH NOTE LOT 67 VOL. 2</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card11.jpeg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">2 700</div>
                    <div class="card__price card__price--common">3 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ПОСТЕР / KAMADO</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card12.jpeg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">2 700</div>
                    <div class="card__price card__price--common">3 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ПОСТЕР / MELANCHOLY</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card13.jpeg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">5 400</div>
                    <div class="card__price card__price--common">6 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ФУТБОЛКА OTAKU CUSTOM / SALTY</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card14.jpeg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">2 700</div>
                    <div class="card__price card__price--common">3 000</div>
                  </div>
                  <a href="#" class="card__title">
                    СВИТШОТ CUSTOM / FAMOUS</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card15.jpeg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">9 000</div>
                    <div class="card__price card__price--common">10 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ШТАНЫ CUSTOM / SIREN</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card16.jpg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">9 900</div>
                    <div class="card__price card__price--common">11 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ХУДИ / ACE</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card17.jpeg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">2 700</div>
                    <div class="card__price card__price--common">3 000</div>
                  </div>
                  <a href="#" class="card__title">
                    LONGSLEEVE / ACE</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card18.jpeg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">6 300</div>
                    <div class="card__price card__price--common">7 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ШТАНЫ / FLAME</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card19.jpg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">2 700</div>
                    <div class="card__price card__price--common">3 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ФУТБОЛКА | FIRE FIST</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
              <div class="card">
                <div class="card__top">
                  <a href="#" class="card__image">
                    <img
                      src="img/card20.jpeg"
                      alt=""
                    />
                  </a>
                  <div class="card__label">-10%</div>
                </div>
                <div class="card__bottom">
                  <div class="card__prices">
                    <div class="card__price card__price--discount">2 700</div>
                    <div class="card__price card__price--common">3 000</div>
                  </div>
                  <a href="#" class="card__title">
                    ЗИП-ХУДИ / FIRE FIST</a
                  >
                  <button class="card__add">В корзину</button>
                </div>
              </div>
            </div>
          </section>
          <button class="cart" id="cart">
            <img class="cart__image" src="img/korzina.png" alt="Cart" srcset="" />
            <div class="cart__num" id="cart_num">0</div>
          </button>
          <div class="popup">
            <div class="popup__container" id="popup_container">
              <div class="popup__item">
                <h1 class="popup__title">Оформление заказа</h1>
              </div>
              <div class="popup__item" id="popup_product_list">
                <div class="popup__product">
                  <div class="popup__product-wrap">
                    <img
                      src="./images/iphone-14-pro-max-gold.png"
                      alt="Apple IPhone 14 Pro Max 256Gb"
                      class="popup__product-image"
                    />
                    <h2 class="popup__product-title"></h2>
                  </div>
                  <div class="popup__product-wrap">
                    <div class="popup__product-price"></div>
                    <button class="popup__product-delete">&#10006;</button>
                  </div>
                </div>
              </div>
              <div class="popup__item">
                <div class="popup__cost">
                  <h2 class="popup__cost-title">Сумма</h2>
                  <output class="popup__cost-value" id="popup_cost">0</output>
                </div>
                <div class="popup__cost">
                  <h2 class="popup__cost-title">Скидка</h2>
                  <output class="popup__cost-value" id="popup_discount">0</output>
                </div>
                <div class="popup__cost">
                  <h2 class="popup__cost-title">Сумма со скидкой</h2>
                  <output class="popup__cost-value" id="popup_cost_discount"
                    >0</output
                  >
                </div>
              </div>
              <button class="popup__close" id="popup_close">&#10006;</button>
            </div>
          </div>
        </main>

       
      </div>
    <script src="./js/main.js"></script>
  </body>
</html>


{% endblock %}